/* All Pages */

@font-face {
    font-family: 'spongeboyregular';
    src: url('spongebob_font/spongebob.otf') format('otf'),
        url('spongebob_font/spongeboyregular-gx2n6-webfont.woff2') format('woff2'),
         url('spongebob_font/spongeboyregular-gx2n6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'spongeboyregular', Arial, Helvetica, sans-serif;
}

button {
    font-family: 'spongeboyregular', Arial, Helvetica, sans-serif;
}



footer{
    padding: 2% 1%;
    margin-top: 5%;
    text-align: center;
    background: dimgray;
    color: white;
    background-image: url(../main_images/Employee_of_the_Month_Background.webp);
    background-position: left;
    background-size: cover;
    font-size: 130%;
    font-family: 'Arial, Helvetica, sans-serif';
    border-top: 5px solid black;
}

div.skip_div {
    display: grid;
    grid-template-columns: 1fr;
}

a.skip{
    background: black;
    justify-self: center;
    padding: 6px;
    position: absolute;
    top: -80px;
    border-radius: 5px;
    transition: top .8s ease-in-out; 
    z-index: 1;
  }

a.skip:link, a.skip:visited {
    color: white;
}
  
a.skip:focus{
    top:20px;
    color: white;
    text-decoration-style: solid;
}

h1 {
    text-align: center;
    padding: 5%;
    font-size: 200%;


}

img {
    width: 50em;
    height: auto;

}


a {
    color: white;
}

a.current {
    color: yellow;
    font-weight: bolder;
    font-size: 120%;
}

nav{
    text-align: center;
    font-size: 150%;
    padding: 2%;
    background: dimgray;
    background-image: url(../main_images/Employee_of_the_Month_Background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid black;

}



ul{
    display: grid;
    grid-template-columns: 1fr;
}

.big_nav {
    display: none;
}

li {
    padding: 10px 0;
}

.dropbtn {
    background-color: blueviolet;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 270%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: blueviolet;}

  /* .dropdown-content a:focus {background-color: #ddd;}
  
  .dropdown:focus .dropdown-content {display: block;}

  .dropdown:focus .dropbtn {background-color: blueviolet;} */


  .dropdown-content .small_current {
    font-weight: bold;
    font-size: 22px;
  }


/* Home */

#alert {
    display: none;
    width: 70%;
    position: fixed;
    top: 10%;
    left: 50%;
    line-height: 1.5;
    margin-left: -37.5%;
    margin-top: 5%;
    padding: 2%;
    background-color: white;
    text-align: center;
    border: 5px solid black;
}

#alert img{
    height: auto;
    width: 30%;
    margin: auto;
    padding: 2% 0;
}

.alertText {
    font-size: 200%;
}

.showAlert {
    background-color: #BD1520;
    color: white;
    padding: 2%;
    border-radius: 15px;
    
}



.home {
    background-color: lightcyan;
    background-image: url(../main_images/Atlantis_SquarePantis_Background.webp);
    background-position: center;
    background-size: auto 140%;

}

.main_container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2%;
    margin: 5%;
}

.main_content > p{
    padding: 2% 0;
    text-align: center;
}


.greeting {
    background-image: url(../main_images/shell.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 15% 20% 20%;
    color: #BD1520;
}

.the {
    font-size: 70%;
    text-align: left;
}


.tagline {
    text-align: center;
    padding-bottom: 3%;
    color: #BD1520;
    margin-top: 1%;
}

.logo_text p{
    line-height: 1.5;
}

.main_content > img {
    height: auto;
    max-width: 100%;
    
}

.main_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 120%;
    line-height: 1.5;
}



.main_content > ul {
    list-style-type: none;
    line-height: 1.5;
}

.main_content > ul li:nth-child(1),.main_content > ul li:nth-child(3) {
    text-align: center;
}

.main_content:last-child{
    margin-bottom: 5%;
}

.warning {
    font-size: 40%;
    padding-left: 2%;
    line-height: 2;
    padding-top: 2%;
}

.aside{
    padding: 0 2px;
}



/* Page 1 */

.body2 {
    background-color: #717171;
    background-image: url("../menu_images/main_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15%;
    justify-content: center;
    background-color: #f6edb8;
    
}

.hooks {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hook{
    display: block;
    margin: 0 auto;
    width:auto;
    height: 93%;
}


.page2_head {
    margin: -5% 15% 0; 
    background-color: #f6edb8;
    color: #6F1F16;
    padding-bottom: 3%;
    padding-top: 3%;
    font-size: 150%;
}

.item {
    width: 95%;
    font-size: 70%;
    margin: 1.5% 0;
    color: #6F1F16;
    overflow: hidden;
    padding: 1% 0;
    line-height: 1.2;
}

.item a{
    color: #6F1F16;
    font-weight: bold;
}

.extra {
    font-size: 70%;
    margin: 2% 0;
    padding-left: 3%;
}


.menu p:before, .menu .extra:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}

 .menu p.no_dots:before{
    float: left;
    width: 0;
    white-space: nowrap;
    content: "";
 }

.menu span.dots {
    padding-right: 0.33em;
    background: #f6edb8;
}
    

.menu span + span {
    float: right;
    padding-left: 0.33em;
    background: #f6edb8}
















/* Page 2 */

.body3{
    background-color: #00574E;
    background-image: url("../main_images/sea_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.employees {
    display: grid;
    justify-content: center;
    grid-template-columns: 90%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr  1fr;
    gap: 2%;
    justify-items: center;
}

.worker {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.employees > p{
    height: 95%;
    width: 95%;
    text-align: center;
    line-height: 2;
    font-size: 80%;
    background-color: rgb(180, 180, 221);

}

#page3 span{
    /* background-color: rgb(180, 180, 221); */
    color: #4E86C7;
    padding: 2%;
    border: 10px inset #4E86C7;
    background-color: white;
}

#page3 {
    margin: 5%;
    font-size: 90%;
}

#hat{
    display: inline;
    height: 25px;
    width: auto;
    margin-bottom: -1%;
    padding-right: 1%;
    padding-left: 1%;
}

.flipped{
    transform: scaleX(-1);
}

.desc1{
    border: 10px inset red;
}

.desc2{
    border: 10px inset yellow;
}

.desc3{
    border: 10px inset lightblue;
}

.desc4{
    border: 10px inset pink;
}

.slide {
    display: None;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: black;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.slide p{
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 23px;
    width: 96%;
    text-align: center;

}

.slide p {
    display: flex;
    justify-content: center;
}

.slide p span{
    background-color: whitesmoke;
    padding: 2px 5px;
    border: 2px solid black;
    font-size: 70%;
}

.slide img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border: 5px ridge darkgreen;
}

.dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  @media (prefers-reduced-motion) {
    .dot {
        transition: none;
    }

    
  }

@media screen and (min-width:480px) {
    /* home */
    .home {
        background-size: auto 130%;
    }

    /* page 1 */
    .item {
        font-size: 115%;
    }

    /* page 2 */

    .employees {
        grid-template-rows: 3fr 1fr 3fr 1fr 3fr 1fr 3fr  1fr;
    }

    #page3 {
        font-size: 150%;
    }
}


@media screen and (min-width: 673px) {
    a.skip{
        top: -40px;
        transition: top 1s ease-in-out; 
      }
    
    .dropdown {
        display: none;
    }
    .big_nav{
    display: grid;
    grid-template-columns: 1fr;
    }

    /* home */

    .home {
        background-size: auto 120%;
    
    }

    .greeting {
        padding: 7% 10% 10%;
    }


    /* page 1 */

    .item {
        font-size: 140%;
    }

    .extra {
        font-size: 80%;
    }

    .hook {
        width: 15%;
        height: auto;
    }

    .page2_head {
        margin: -2% 15% 0; 
        font-size: 200%;
    }

    /* page 2 */
    .employees {
        grid-template-columns: 70% 25%;
        grid-template-rows: 3fr 3fr 3fr 3fr 1fr;
        align-items: center;
        justify-items: start;
    }

    .employees > p{
        height: auto;
    }

    #page3 {
        margin: 2%;
        font-size: 200%;
    }

    #hat{
        height: 50px;
    }

    .slide p span{
        font-size: 90%;
    }




}

@media screen and (min-width: 1100px) {
    
    .big_nav{
    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr;
    }


    /* home */

    .home {
        background-size: cover;
    
    }

    .greeting {
        padding: 6% 8% 8%;
    }

    .warning {
        font-size: 70%;
    }


    /* page 1 */

    .menu {
        gap: 3%;
    }


    .item {
        width: 45%;
        font-size: 130%;
    }


    /* page 2 */

    .employees {
        grid-template-columns: 45% 45%;
        grid-template-rows: 3fr 1fr 3fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .employees > p {
        font-size: 100%;
        height: 95%;
    }


    .worker1, .worker2 {
        order: 0;
    }

    .desc1, .desc2 {
        order: 1;
    }

    .worker3, .worker4 {
        order: 2;
    } 

    .desc3, .desc4 {
        order: 3;
    }

    .slide p span{
        font-size: 100%;
    }



}












/* home */
/* page 1 */
/* page 2 */


