div.skip_div {
    display: grid;
    grid-template-columns: 1fr;
}

a.skip{
    background: black;
    justify-self: center;
    padding: 6px;
    position: absolute;
    top: -40px;
    border-radius: 5px;
    /* -webkit-transition: top 1s ease-out; */
    transition: top 1s ease-in-out; 
    z-index: 1;
  }

a.skip:link, a.skip:visited {
    color: white;
}
  
a.skip:focus{
    top:20px;
    color: white;
    text-decoration-style: solid;
  }

img {
    width: 60%;
    height: auto;
    padding: 5%;
}


a:visited {
    color: blue;
}

a.current {
    color: blueviolet;
    font-weight: bolder;
    font-size: 110%;
}

nav {
    text-align: center;
    font-size: 150%;
    padding: 2%;
    background: lightgrey;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}








